/* paragraph and header styling */
.header1{ 
  color: blue;
}
.header2{
  
  color: blue;
  font-size: 15px;
}
.inpuPrompt{
  font-style: italic;
  background-color: white;
  position: absolute;
  top: 11.5%;
  right: 75%;

}
/* Allignes table and input form side by side and remove gap between cells.
This also sets table max height and prevents over flow of table when values get excerssively too large */
table{
  display: flex;
  border-collapse: collapse;
  text-align: center;
  height: 500px;
  overflow-y: scroll;

}

/* Higlights alternating rows */
tr:nth-child(even) {  
  background-color:#51b39a;  
}
table, th, td {
  border: 1px solid black;
  width: 950px;
  


}
/* Formatas table and form simultaniously to create even spacing and set border */
#formId, #table-container{
  padding: 1rem;
  vertical-align: middle;
  width: 50%;
  margin: 22px;
  border: 1px solid black;

}

#table-container{
  table-layout:fixed;
}

label{
  display: inline-block;
  width: 150px;
  text-align: right;

}

.wrapper{
  display: flex;
  width: 100%;
}
tbody>:nth-child(1){
  background-color: black;
  color: white;
  border: 1px solid white;

  
}

td:nth-child(1) {  background-color: black;
  color: white }
  table tbody tr:first-child td:nth-child(1) {
    background-color: white;
    border: 1px solid white;
  }

#copyRight{
  border: 1px black solid;
  position: absolute;
  bottom: 5%;
  right: 2%;
}
