/*To do make tables*/

#wrapper{
	display:flex;
	grid--columns: 250px;
}

h2{
  width:100%;
  overflow:hidden; /* contain floats */
  height:200px;
}


tr:nth-child(even) {  
  background-color:#51b39a;  
}
table, th, td {
  border: 1px solid black;


}



th{
  border: black solid 2px;
  color:blueviolet;
  font-size: 22px;
  padding: 22px;

  text-transform: uppercase;
  border-collapse: collapse;
}
.myTable{
  background-color: rgb(224, 240, 192);
  margin: 0px;
  

}

tbody { display: block; 
    height: 200px;
    max-width: 950px;     
    overflow-y: auto;    
    overflow-x: auto;  
}